@using Lycan.Web.Layouts.DashboardLayout;
@using Lycan.Web.Components.Authentication;

<Router AppAssembly="@typeof(Program).Assembly">
  <Found Context="routeData">
    <RouteView RouteData="@routeData" DefaultLayout="@typeof(DashboardLayout)" />
  </Found>
  <NotFound>
    <LayoutView Layout="@typeof(DashboardLayout)">
      <p>Sorry, there's nothing at this address.</p>
    </LayoutView>
  </NotFound>
</Router>
