@using Microsoft.AspNetCore.Components.Authorization;

<ul class="navigation-menu">
  <li class="nav-category-divider">MAIN</li>
  <li>
    <a href="/">
      <span class="link-title">Dashboard</span>
      <i class="mdi mdi-gauge link-icon"></i>
    </a>
  </li>
</ul>
