<div class="right-sidebar">
  <div class="sidebar-inner">
    <div class="right-sidebar-toggler"><i class="mdi mdi-format-color-fill"></i></div>
    <div class="theme-mode-wrapper">
      <a href="../demo_1/index.html" class="preview-image theme-mode">
        <img src="../assets/images/screenshots/light.png" alt="Light Theme">
        <p>Light</p>
      </a>
      <a href="../demo_2/index.html" class="preview-image active theme-mode">
        <img src="../assets/images/screenshots/dark.png" alt="Dark Theme">
        <p>Dark</p>
      </a>
    </div>
  </div>
</div>