# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.Lycan.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\brnco\RiderProjects\Lycan\.idea\.idea.Lycan.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
